.menu {
    flex-grow: 1;
    &--footer {
        margin-right: 103px;
        display: flex;
        justify-content: center;
        color: #ffffff;
    }
}
.menu__list {
    display: flex;
}
.menu__item {
    margin-left: 17px;
    margin-right: 17px;
}
.menu__link {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size 0.3s linear;
  &:hover {
    background-size: 100% 1px;
    transition: background-size 0.3s linear;
  }
}